form {position:relative;left:40%;right:50%;}
input {position:relative;left:1%;width:30px}
iframe {margin-left:0px;}
img{margin-left:0px;float:left;}
div.content{margin:0 0%;position:relative;}
div.ban{position:relative;height:155px;margin-left:10%;}
div.title {font-family: 'Arial',serif; font-style: italic; font-weight: bold;}
